html {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    height: 100%;
}

* {
    font-family: 'Rubik';
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 48px;
}

h1 {
    font-weight: 900;
    font-size: 72px;
    z-index: 1;
    color: white;
}

input {
    outline: none;
    border: none;
    border-bottom: 1px solid #aaa;
    width: 100%;
    margin-top: 2em;
    font-size: 14px;
    padding: 1em;
}

input[type=submit] {
    border: none;
    color: white;
    font-weight: bold;
    background: #21BF73;
    width: 25%;
    right: 0;
}

#green {
    z-index: -1;
    transform-origin: top right;
    position: absolute;
    width: 100%;
    height: 150%;
    background: #21BF73;
    transform: rotate(15deg);
}

#rightside {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

#leftside {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
}

#homecumonitor {
    justify-self: center;
}

form {
    display: grid;
    grid-template-columns: 1fr;
}

#login {
    width: 50%;
    justify-self: center;
    align-self: center;
    height: 100%;
}